<ion-toolbar class="tool_bar">
  <ion-title>Travels</ion-title>
  <div slot="end" class="ion-padding">
    <ion-avatar (click)="popover($event)" class="avatar" *ngIf="user">
      <ion-img [src]="user.photoURL" class="avatar__image"></ion-img>
    </ion-avatar>
  </div>
</ion-toolbar>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeSm="6" offsetSm="3">
        <ion-card *ngIf="travels?.length >= 1">
          <ion-img class="ion-no-padding" [src]="travels[0].imageUrl"></ion-img>
          <ion-card-content>
            <ion-card-title slot="start"> {{ travels[0].location }} </ion-card-title>
            <p class="ion-text-left"><em slot="end"> {{ travels[0].date | date }} </em></p>
            <ion-card-subtitle>{{ travels[0].expenses | currency }}</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
        <h3 *ngIf="!travels?.length" class="ion-text-center create-new" routerLink="/dashboard/new">
          Create new travels
          <ion-icon color="primary" name="add"></ion-icon>
        </h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-padding" size="12" sizeSm="6" offsetSm="3" *ngIf="travels?.length >= 1">
        <ion-item class="ion-margin-top" *ngFor="let travel of travels.slice(1)" detail>
          <ion-thumbnail slot="start">
            <ion-img [src]="travel.imageUrl"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2 class="card-title">{{ travel.location }}</h2>
            <p class=""><em slot="end"> {{ travel.date | date }} </em></p>
            <p>{{ travel.expenses | currency }}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
