<ion-toolbar class="tool_bar">
  <ion-title>Travels</ion-title>
  <div slot="end" class="ion-padding">
    <ion-avatar (click)="popover($event)" class="avatar" *ngIf="user">
      <ion-img [src]="user.photoURL" class="avatar__image"></ion-img>
    </ion-avatar>
  </div>
</ion-toolbar>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-card *ngIf="travels?.length >= 1">
          <ion-img class="ion-no-padding" [src]="travels[0]?.image_url"></ion-img>
          <ion-card-content>
            <ion-card-title slot="start"> {{ travels[0]?.title }} </ion-card-title>
            <p class="ion-text-left"><em slot="end"> {{ converTimeStampToDate(travels[0]?.date) | date }} </em></p>
            <ion-card-subtitle>{{ travels[0]?.expenses | currency }}</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
        <h3 *ngIf="!travels?.length" class="ion-text-center create-new" routerLink="/dashboard/new">
          Create new travels
          <ion-icon color="primary" name="add"></ion-icon>
        </h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" sizeSm="8" offsetSm="2">
        <ion-list *ngIf="travels?.length >= 1">
          <ion-item class="ion-margin-top" detail>
            <ion-thumbnail slot="start">
              <ion-img src="../../../../assets/paris.jpg"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2 class="card-title">Paris, France</h2>
              <p class=""><em slot="end">Mar 12 2015</em></p>
              <p>{{ '106.55' | currency }}</p>
            </ion-label>
          </ion-item>

          <ion-item class="ion-margin-top" detail>
            <ion-thumbnail slot="start">
              <ion-img src="../../../../assets/munich.jpg"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2 class="card-title">Munich, Germany</h2>
              <p class=""><em slot="end">Sep 12 2021</em></p>
              <p>{{ '106.55' | currency }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
