.bodyBg {
  --background: url(./../../../assets/air-travellers.jpg) 0 0/100% 100%
    no-repeat;
  // --background: #5c5acf;
  border-radius: 8px !important;
}

.card {
  --background: transparent !important;
  margin-top: 1em;
}

.title {
  margin-top: 3em;
}

a {
  color: #fff;
}

.signin-btn {
  --background: #000;
}
