.form {
  // margin-top: 50px;
}

.col {
  margin-top: 2em;
}

input[type="file"] {
  visibility: hidden;
}

.placeholder {
  margin: auto;
  background-position: center;
}
.upload {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 1px gray solid;
  border-radius: 5px;
  &__label {
    font-size: 3em;
    text-align: center;
  }

  &__icon {
    padding-top: 25px;
  }
}
