<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()" defaultHref="/dashboard/travels">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Create new travel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="col" size="12" sizeSm="8" offsetSm="2">

        <div *ngIf="imageChangedEvent">
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
            [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="16 / 9" [resizeToWidth]="256"
            [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="false" [canvasRotation]="canvasRotation"
            [transform]="transform" [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png"
            (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady($event)"
            (loadImageFailed)="loadImageFail()"></image-cropper>

          <ion-button (click)="deleteImage()">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </div>

        <form class="form" [formGroup]="createTravelForm">
          <ion-item *ngIf="!imageChangedEvent" class="">
            <label for="image" class="">
              Upload Image
            </label>
            <input type="file" id="image" accept="image/*" formControlName="image" (change)="uploadImage($event)">
          </ion-item>

          <ion-item class="ion-margin-top">
            <ion-input type="text" placeholder="Location" formControlName="location"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-top">
            <ion-input type="text" placeholder="Purpose" formControlName="purpose"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-top">
            <ion-label>Date</ion-label>
            <ion-input type="date" formControlName="date"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-top">
            <ion-input type="number" placeholder="Expenses Amount" formControlName="expenses"></ion-input>
          </ion-item>

          <ion-button expand="full" class="ion-margin-top" (click)="createTravel()">Create</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
