<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/travels">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Create new travel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="form" size="12" sizeSm="8" offsetSm="2">
        <ion-item>
          <ion-input type="text" placeholder="Location"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="date" placeholder="Date"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="number" placeholder="Expenses"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
