<ion-content class="bodyBg">
  <ion-grid>
    <ion-row>

      <ion-col size-sm="6" offset-sm="3">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="ion-text-center ion-margin-top" color="light">
              Sign In
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-margin-top">
            <ion-text *ngIf="errorMessage" color="light">
              <p>{{ errorMessage }}</p>
            </ion-text>
            <form [formGroup]="loginForm">
              <ion-item>
                <ion-input type="email" class="input" placeholder="Email" formControlName="userEmail"></ion-input>
              </ion-item>
              <ion-item class="ion-margin-top item">
                <ion-input [type]="iShowPassword ? 'text' : 'password'" placeholder="Password"
                  formControlName="userPassword" class="input">
                </ion-input>
                <ion-icon name="eye-outline" (click)="showPassword()" *ngIf="iShowPassword"></ion-icon>
                <ion-icon name="eye-off-outline" (click)="showPassword()" *ngIf="!iShowPassword"></ion-icon>
              </ion-item>
              <ion-button class="ion-margin-top signin-btn" [disabled]="loginForm.invalid" (click)="signIn()"
                expand="block">
                Sign In</ion-button>
            </form>
            <ion-text color="light">
              <p class="ion-text-center ion-padding-top">Don't have account <a routerLink="/signup">Sign up</a></p>
              <p class="ion-text-center ion-padding-top"><a class="" routerLink="/forgot-password">Forgotten Password
                  ?</a></p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size-sm="5" offset-sm="3" class="text-center">
        <ion-button expand="full" color="danger" size="large" fill="solid" (click)="loginWithGoogle()"
          class="ion-margin-top">
          <ion-icon name="logo-google" slot="end"></ion-icon>
          Sign in with
        </ion-button>
      </ion-col>
    </ion-row> -->
  </ion-grid>

</ion-content>
